VITE_ICP_ID=""
VITE_ICP_LINK="https://beian.miit.gov.cn/"
VITE_PUBLIC_SECURITY_ID=""
VITE_PUBLIC_SECURITY_LINK="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode="
VITE_PUBLIC_SECURITY_ICON=""
